$darkCyan: #0e8784;
$darkGreyBlue: #333d4b;
$paleOrange: #fdd6ba;
$lightCream: #fefcf7;
$lightCream80p: rgba(254, 252, 247, 0.8);
$grey: #83888f;
$disabledGrey: rgb(131, 136, 143, 0.5);
$white: #ffffff;
$disabledButton: #e2dedb;
$hoverButton: #66d2cf;
$panelBackground: #2c343e;
$cardColor: #f4f1eb;
$mediumGrey: #a2a5a8;
