.barlow-regular {
  font-family: "Barlow", sans-serif;
  font-style: normal;
}

.fraunces_9pt-black {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}
