$darkCyan:#0E8784;
$darkGreyBlue:#333D4B;
$paleOrange:#FDD6BA;
$lightCream:#FEFCF7;
$grey:#83888F;
$disabledGrey:rgb(131, 136, 143, 0.5);
$white: #FFFFFF;
$disabledButton: #E2DEDB;
$hoverButton: #66D2CF;