body {
     @extend .barlow-regular;
    line-height: 26px;
    font-size: 16px;
    background-color: $white;
}
#homeContainer{
    margin: 0 auto;
    width: 1280px;
}
a {
    text-decoration: none;
    color: #83888F;

}

$borderRadius: 10px;

h1 {
    @extend .fraunces_9pt-black;
    line-height: 72px;
    font-size: 72px;
}

.primaryButton{
    width: 217px;
    height: 56px;
    background-color: $darkCyan;
    @extend .fraunces_9pt-black;
    color: $lightCream;
    font-size: 18px;
    line-height: 25px;
    border-radius: $borderRadius;
    border: none;

    &:hover{
    background-color: $hoverButton;
    }

    &:disabled{
        background-color: $disabledButton;
    }
}

h4{
    @extend .fraunces_9pt-black;
    font-size: 24px;
    line-height: 32px;
    color:$darkGreyBlue;
}

ul{
    list-style: none;
}

h2{
    @extend .fraunces_9pt-black;
    font-size: 40px;
    line-height: 48px;
}

h3{
    @extend .fraunces_9pt-black;
    font-size: 32px;
    line-height: 36px;
}
// NAVIGATION BAR
#navigationBar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    #menuList {
        list-style: none;
        display: flex;
        line-height: 15px;
        font-size: 12px;
        font-weight: bold;
    }

    .aboutUs,
    .createYourPlan {
        padding-left: 32px;
    }
}

// FOOTER
footer{
    background-color: $darkGreyBlue;
    height: 120px;
    display: flex;
    padding:0 88px;
    align-items: center;
    justify-content: space-between;
    color: $lightCream;
    ul{
        display: flex;
        justify-content: space-between;
    }

}
