body {
    padding: 48px 80px 80px 80px;
     @extend .barlow-regular;
    line-height: 26px;
    font-size: 16px;
    background-color: $white;
}

$borderRadius: 10px;

h1 {
    @extend .fraunces_9pt-black;
    line-height: 72px;
    font-size: 72px;
}

.primaryButton{
    width: 217px;
    height: 56px;
    background-color: $darkCyan;
    @extend .fraunces_9pt-black;
    color: $lightCream;
    font-size: 18px;
    line-height: 25px;
    border-radius: $borderRadius;
    border: none;

    &:hover{
    background-color: $hoverButton;
    }

    &:disabled{
        background-color: $disabledButton;
    }
}

h4{
    @extend .fraunces_9pt-black;
    font-size: 24px;
    line-height: 32px;
    color:$darkGreyBlue;
}

ul{
    list-style: none;
}
    