.barlow-regular {
    font-family: "Barlow", sans-serif;
    font-style: normal;
}

.fraunces-black {
            font-family: "Fraunces", serif;
            font-optical-sizing: auto;
            font-weight: 900;
            font-style: normal;
            
    }



