.barlow-regular, body {
  font-family: "Barlow", sans-serif;
  font-style: normal;
}

.fraunces_9pt-black, #title, .primaryButton, h4, h3, h2, h1 {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}

.container {
  margin: 0 24px;
}

body {
  line-height: 26px;
  font-size: 16px;
  background-color: #FEFCF7;
  margin: 0;
}

a {
  text-decoration: none;
  color: #83888F;
}

h1 {
  line-height: 40px;
  font-size: 40px;
}

h2 {
  font-size: 40px;
  line-height: 48px;
}

h3 {
  font-size: 32px;
  line-height: 36px;
}

h4 {
  font-size: 24px;
  line-height: 32px;
  color: #333D4B;
}

ul {
  list-style: none;
}

#navigationBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

#menuList {
  display: none;
}

.primaryButton {
  width: 217px;
  height: 56px;
  background-color: #0E8784;
  color: #FEFCF7;
  font-size: 18px;
  line-height: 25px;
  border-radius: 10px;
  border: none;
}
.primaryButton:hover {
  background-color: #66D2CF;
}
.primaryButton:disabled {
  background-color: #E2DEDB;
}

footer {
  background-color: #333D4B;
  height: 120px;
  display: flex;
  padding: 0 88px;
  align-items: center;
  justify-content: space-between;
  color: #FEFCF7;
}
footer .footerLeft {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
footer .footerLeft #menuList {
  display: flex;
  justify-content: space-between;
}
footer .footerLeft li {
  margin-right: 30px;
}
footer .footerLeft li.createYourPlan {
  margin-right: 0;
}
footer .footerLeft li a:hover {
  color: #FEFCF7;
}
footer #socialMedia ul {
  display: flex;
  flex-direction: row;
}
footer #socialMedia ul li {
  margin-right: 24px;
}
footer #socialMedia ul li.instagram {
  margin-right: 0;
}
footer #socialMedia ul li a:hover path {
  fill: #FDD6BA;
}

#stepsContainer {
  margin-bottom: 88px;
  padding: 24px;
}
#stepsContainer .stepsTitle {
  color: #83888F;
  margin-top: 120px;
  text-align: center;
  font-size: 48px;
  line-height: 32px;
}
#stepsContainer #steps {
  display: flex;
  flex-direction: column;
  color: #333D4B;
}
#stepsContainer #steps li {
  margin-top: 50px;
  padding-right: 96px;
  text-align: center;
}
#stepsContainer #steps h1 {
  color: #FDD6BA;
  padding: 20px 0;
  text-align: center;
  font-size: 72px;
  line-height: 72px;
}
#stepsContainer #steps .circle {
  display: none;
}

@media screen and (min-width: 992px) {
  .container {
    margin: 0 auto;
    width: 952px;
  }
  #navigationBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #navigationBar #menuList {
    list-style: none;
    display: flex;
    line-height: 15px;
    font-size: 12px;
    font-weight: bold;
  }
  #navigationBar #menuList a:hover {
    color: #333D4B;
  }
  #navigationBar .aboutUs,
  #navigationBar .createYourPlan {
    padding-left: 32px;
  }
  .hamburgerMenu {
    display: none;
  }
  h1 {
    line-height: 72px;
    font-size: 72px;
  }
  #stepsContainer {
    margin-bottom: 88px;
  }
  #stepsContainer .stepsTitle {
    color: #83888F;
    margin-left: 40px;
  }
  #stepsContainer #steps {
    display: flex;
    flex-direction: row;
    color: #333D4B;
  }
  #stepsContainer #steps li {
    margin-top: 80px;
    border-top: 1px solid #FDD6BA;
    padding-right: 96px;
  }
  #stepsContainer #steps li.thirdStep {
    border-top: 0;
  }
  #stepsContainer #steps h1 {
    color: #FDD6BA;
    padding: 40px 0;
  }
  #stepsContainer #steps .circle {
    display: block;
    width: 30px;
    height: 30px;
    border: solid #0E8784;
    border-radius: 50%;
    background-color: #FEFCF7;
    position: absolute;
    margin-top: -18px;
  }
}
#hero {
  background-image: url("/images/image-hero-coffeepress.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  margin-top: 48px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#heroContent {
  padding: 100px 24px;
  box-sizing: border-box;
  color: #FEFCF7;
  text-align: center;
}
#heroContent h1 {
  margin-top: 0;
}
#heroContent .presentationParagraph {
  color: rgba(254, 252, 247, 0.8);
}
#heroContent .primaryButton {
  margin-top: 56px;
}

#productListingContainer {
  position: relative;
  margin-top: 120px;
}
#productListingContainer #title {
  position: relative;
  z-index: 0;
  font-size: 40px;
  line-height: 40px;
  color: #83888F;
  width: 100%;
  text-align: center;
  height: auto;
}
#productListingContainer #title .gradient {
  height: 100%;
  width: 100%;
  top: 5px;
  position: absolute;
  z-index: 10;
  background-image: linear-gradient(0deg, rgb(254, 252, 247) 8%, rgba(255, 255, 255, 0) 100%);
}

#productListing {
  margin-top: 48px;
}
#productListing ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}
#productListing ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  padding-top: 0;
  margin-bottom: 48px;
}
#productListing ul li img {
  width: 100%;
  height: auto;
}
#productListing ul li img .granEspresso {
  width: 80%;
  height: auto;
}
#productListing ul li .productDescription {
  text-align: center;
}
#productListing ul li .productDescription h4 {
  margin: 16px 0;
}
#productListing ul li .productDescription .presentationParagraph {
  color: #333D4B;
  font-size: 15px;
  line-height: 25px;
}

#background {
  background-color: #333D4B;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: 300px;
  margin-top: 200px;
}
#background #reasonToChoose {
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#background #reasonToChoose h2 {
  padding-top: 200px;
  color: #FEFCF7;
  font-size: 28px;
  line-height: 28px;
}
#background #reasonToChoose p {
  color: rgba(254, 252, 247, 0.8);
  width: auto;
  padding: 20px;
  text-align: center;
  margin: 0;
  font-size: 15px;
  line-height: 25px;
}

#backgroundImageReasons {
  background-image: url(/images/bg-quality.png);
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  z-index: 0;
  padding-top: 36px;
  height: 580px;
  margin-bottom: 1000px;
}

#reasonsList {
  margin: 0;
  padding: 0;
  z-index: 10;
  margin-top: -1550px;
}

.reasonsItem {
  display: block;
  height: 382px;
  background-color: #0E8784;
  border-radius: 10px;
  text-align: center;
  color: #FEFCF7;
  margin: 0px 24px 24px 24px;
}
.reasonsItem img {
  padding-top: 50px;
  align-items: center;
}
.reasonsItem img.truck {
  padding-bottom: 20px;
}
.reasonsItem h4 {
  color: #FEFCF7;
}

.button {
  margin-bottom: 120px;
}

@media screen and (min-width: 992px) {
  #hero {
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    margin-top: 48px;
    margin: 24px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  #heroContent {
    width: 632px;
    padding: 0px 86px;
    box-sizing: border-box;
    color: #FEFCF7;
    text-align: left;
  }
  #productListingContainer {
    position: relative;
    margin: 0px 85px;
    margin-top: 136px;
  }
  #productListingContainer #title {
    font-size: 100px;
    line-height: 72px;
    letter-spacing: 5px;
  }
  #productListing ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    align-items: baseline;
  }
  #productListing ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    padding-top: 0;
    margin-top: -65px;
    z-index: 10;
  }
  #productListing ul li img {
    width: 100%;
    height: auto;
    padding-bottom: 72px;
  }
  #productListing ul li img .granEspresso {
    width: 80%;
    height: auto;
  }
  #productListing ul li .productDescription {
    text-align: center;
  }
  #productListing ul li .productDescription .presentationParagraph {
    color: #333D4B;
  }
  #background {
    background-color: #333D4B;
    border-radius: 10px;
    height: 577px;
    margin-top: 100px;
  }
  #background #reasonToChoose {
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #background #reasonToChoose h2 {
    padding-top: 200px;
    color: #FEFCF7;
  }
  #background #reasonToChoose p {
    color: rgba(254, 252, 247, 0.8);
    width: 540px;
    text-align: center;
    margin: 0;
  }
  #reasonsList {
    display: flex;
    justify-content: center;
    padding: 10px 30px;
    margin-top: -215px;
    margin-bottom: 180px;
    align-items: center;
  }
  .reasonsItem {
    width: 400px;
    height: 350px;
    background-color: #0E8784;
    border-radius: 10px;
    text-align: center;
    color: #FEFCF7;
    padding-bottom: 48px;
    padding: 10px;
  }
  .reasonsItem img {
    padding-top: 40px;
    align-items: center;
  }
  .reasonsItem img.truck {
    padding-bottom: 20px;
  }
  .reasonsItem h4 {
    color: #FEFCF7;
  }
  .reasonsItem p {
    padding: 0 24px 48px 24px;
  }
  #backgroundImageReasons {
    display: none;
  }
  .button {
    margin-bottom: 200px;
  }
}/*# sourceMappingURL=home.css.map */