@import 'fonts';
@import 'colors';
@import 'common';

// NAVIGATION BAR
#navigationBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menuList {
    list-style: none;
    display: flex;
    line-height: 15px;
    font-size: 12px;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: #83888F;
    
}
.aboutUs, .createYourPlan{
    padding-left: 32px;
}

// HERO CONTAINER

#hero{
    background-image: url("/images/image-hero-coffeepress.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;
    height: 600px;
    margin-top: 48px;
    border-radius: $borderRadius;
    display: flex;
    align-items: center;
}

#heroContent{
    width: 632px;
    padding: 0px 86px;
    box-sizing: border-box;
    color: $lightCream;

        h1{
            margin-top: 0;
        }

        .presentationParagraph{
            color: $lightCream80p;
        }
        
        .primaryButton{
             margin-top: 56px;
        }
}




// OUR COLLECTION

#productListingContainer {
    position: relative;
    margin: 0px 85px;
    margin-top: 136px;

    #title {
        position: absolute;
        z-index: 0;
        top: 85px;
        @extend .fraunces_9pt-black;
        font-size: 150px;
        line-height: 72px;
        color: $grey;
        width: 100%;
        text-align: center;
        letter-spacing: 5px;
       
    }
}

#productListing{
    position: relative;
    z-index: 10;
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 1) 65%, rgba(255, 255, 255, 0) 100% );
    padding-top: 125px;
    display: flex;
    align-items: end;
    justify-content: center;
    
    
    
        ul{
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0;

            li{
                display: flex;
                flex-direction: column;
                align-items:  center;
                padding: 30px;
                padding-top: 0;

   
                img{
                    width: 256px;
                    height: 193px;
                    padding-bottom: 72px;
                }
                .productDescription{
                    text-align: center;
                  
                    
                    .presentationParagraph{
                        color:$darkGreyBlue;
                        
                    }  
                } 
            }
        }  
}

#background {
    background-color: $darkGreyBlue;
    border-radius: $borderRadius;
    height: 577px;
    margin-top: 200px;
    
    #reasonToChoose{
        height: 160px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    h2{
        padding-top: 200px;
        color: $lightCream;
    } 

    p{
        color: $lightCream80p;
        width: 540px;
        text-align:center;
        margin:0;
    }
}
}


#reasonsList{
    display: flex;
    justify-content: center;
    gap:30px;
    padding: 0 85px;
    margin-top: -215px;
    margin-bottom: 180px;
}
.reasonsItem {
    width: 350px;
    height: 382px;
    background-color: $darkCyan;
    border-radius: $borderRadius;
    text-align: center;
    color: $lightCream;
    
    
    img{
        padding-top: 72px;
        align-items: center;
        &.truck{
            padding-bottom: 20px;
        }
    }
    h4{
        color: $lightCream;
    }
    
    p{
        padding: 0 48px 48px 48px;
    }
    
}

.stepsTitle{
    color:$grey;
}
#steps{
    color:$darkGreyBlue;
    h1{
        color:$paleOrange;
    }
   
}




