@import "../../styles/fonts";
@import "../../styles/colors";
@import "../../styles/common";

// Hero Container

#hero-blackcup {
  background-image: url("/images/image-hero-blackcup.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 450px;
  margin-top: 48px;
  border-radius: $borderRadius;
  display: flex;
  align-items: center;
  margin-bottom: 168px;
}

.stepsContainer.dark {
  background-color: $panelBackground;
  border-radius: $borderRadius;
  h4 {
    display: none;
  }
  #steps {
    padding: 0 100px;
    padding-bottom: 70px;
    padding-top: 12px;
    .circle {
      background-color: $panelBackground;
    }
  }
  h3 {
    color: $lightCream;
  }
  p {
    color: $lightCream;
  }
}
