@import "../../styles/fonts";
@import "../../styles/colors";
@import "../../styles/common";

.section {
  margin-bottom: 60px;
  h2 {
    margin: 0;
  }
  .isOpen {
    display: inline-block;
    transform: rotate(180deg);
  }
  .disabled {
    opacity: 0.6;
  }
  &:hover {
    cursor: pointer;
  }
  .section-elements {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 56px;
    .question {
      color: $grey;
    }
  }
}
.cards {
  width: 100%;
  display: flex;
  gap: 20px;
}
