@import '../../styles/fonts';
@import '../../styles/colors';
@import '../../styles/common';

#navigationBar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    #menuList {
        list-style: none;
        display: flex;
        line-height: 15px;
        font-size: 12px;
        font-weight: 550;

        a {
            color: $grey;
        }

        a:hover {
            color: $darkGreyBlue;
        }
    }

    .aboutUs,
    .createYourPlan {
        padding-left: 32px;
    }
}
